.imgedit{
    margin: 0 auto;
    display: flex;
    padding:10px;
    width: 50%;
}
.inputimg{
    border:none;
    outline: none;
}

h1{
    color:rgb(0, 102, 68)
}
.flexs{
    display: flex;
    flex-direction: column;
    gap:5px;
  }
  .imagesWidth{
    max-width: 150px;
    width:100%;
  }
  .header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .action-buttons {
    display: flex;
    gap: 10px;
  }
  .ant-menu-item-active{
color:red;
  }
  .ant-menu-item-selected{
    background-color: rgba(240, 240, 240,0.5);
  }